<% provide(:button_text, 'Create my account') %>
<% provide(:route_url, signup_path) %>

<div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>Sign up</h1>
        <%= render 'form' %>
        <p>Do you have already account? <%= link_to "login", login_path %></p>
    </div>
</div>
