<div class="post main-color text-center text-justify rounded">
    <h5 class="post_title"><%= post.title %></h5>
    <% if post.picture.present? %>
        <%= image_tag post.picture.url(:card), class:"post_image" %>
    <% else %>
    <%= image_tag "https://placehold.jp/217x217.png", class:"post_image" %>
    <% end %>
</div>
