<div class="row justify-content-center">
    <div class="col-12 col-sm-8">
        <h1>posts index</h1>
        <% if logged_in? %>
            <div class="mb-4">
                <%= render 'post_form' %>
            </div>
        <% end %>
        <div class="d-flex flex-row justify-content-between align-self-stretch flex-wrap" id="posts-container">
            <%= render @posts %>
        </div>
        <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
    </div>
</div>
