<div class="row justify-content-md-center">
    <div class="col-md-6 col-md-offset-3">
        <h1>posts index</h1>
        <%= render 'post_form' %>
        <div class="card-columns">
            <%= render @posts %>
        </div>
    </div>
</div>
