@import "bootstrap";

.main-color {
  background-color: #ffb76a;
}

.message{
  z-index: -1;
  position: relative;
  opacity: 0.8;
  animation: sample 1s ease 0s 1 alternate none running;
}

@keyframes sample {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}



#session_remember_me {
  width: auto;
  margin-left: 0;
}


/**
 post layout
**/

@include media-breakpoint-up(sm) {
  .post {
    margin-bottom: 0.5vw; 
    width: 33%; 
    overflow: hidden;
  }

  .post_title {
    font-size: 1.5vw;
    margin: 2% 0;
  }
  
  .post_image {
    width: 100%; 
    height: auto;
  }
}

@include media-breakpoint-down(sm) {
  .post {
    margin-bottom: 0.5vw;
    width: 48%;
    overflow: hidden;
  }

  .post_title {
    font-size: 20px;
    margin: 2% 0;
  }
  
  .post_image {
    width: 100%; 
    height: auto;
  }
}